@model ApplicationUser


<div class="form-group">
    <label asp-for="UserName" class="col-form-label"></label>
    <input class="form-control" asp-for="UserName" />
    <span asp-validation-for="UserName" class="text-danger"></span><br />


    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input class="form-control" asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span><br />




</div>