@model ApplicationUser
<div class="form-group">
    <label asp-for="UserName" class="col-form-label"></label>
    <input class="form-control" asp-for="UserName" readonly />



    <label asp-for="Email" class="col-form-label"></label>
    <input class="form-control" asp-for="Email" readonly />


    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input class="form-control" asp-for="PhoneNumber" readonly />

</div>
