@model ResetpasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}



<div class="main-agileinfo">
			<div class="agileits-top">
				<form asp-action="ResetPassword" asp-controller="Account">
					<div asp-validation-summary="All"></div>
					<input asp-for="Email" type="hidden" />
					<input asp-for="Token" type="hidden" />
					<input class="text" type="password" asp-for="NewPassword" placeholder="New Password" required="">

					<input class="text w3lpass" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">

					
					<input type="submit" value="Reset Password">
				</form>
				
			</div>
		</div>

<partial name="_ValidationScriptsPartial" />
