@model DepartmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>

<form asp-action="Create" asp-controller="Department" class="mt-3">
    <partial name="PartialViews/CreateUpdateDepartment" />
    <input type="submit" class="btn btn-primary" value="Submit" /> |
    <a asp-action="Index" asp-controller="Department" class="btn btn-light">Back to Lists</a>
</form>


